@page "/"
@using ShineGuacamole.Client.Components

<h1>Welcome!</h1>


@code{

    /// <summary>
    /// Page title provider.
    /// </summary>
    [CascadingParameter]
    public AppBarContentProvider AppBarContentProvider { get; set; }

    /// <inheritdoc/>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppBarContentProvider.SetPageTitle("Home");
    }
}