@using Microsoft.AspNetCore.Authorization
@using ShineGuacamole.Shared
@using ShineGuacamole.Components.Common

@attribute [Route(AppRoutes.RemoteConnection)];

@inherits ShineComponentBase<RemoteConnection>

<PageView PageTitle="Remote Connection" PageActions="@PageActions" Loading="!IsAuthLoaded">
    @if (string.IsNullOrEmpty(ConnectionId))
    {
        <MudAlert>Something went wrong! Please go to the <MudLink Href="@AppRoutes.Connections">@nameof(AppRoutes.Connections)</MudLink> page and select a connection.</MudAlert>
    }
    else
    {
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Spacing="3">
            <MudPaper>
                <div @ref="_display" class="display-wrapper relative"></div>
            </MudPaper>
        </MudStack>
    }
</PageView>