<!--
//
// Copyright 2024 Gurpreet Raju
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
-->

@using Microsoft.AspNetCore.Authorization
@using ShineGuacamole.Shared
@using ShineGuacamole.Components.Common

@attribute [Route(AppRoutes.RemoteConnection)];

@inherits ShineComponentBase<RemoteConnection>

<PageView PageTitle="Remote Connection" PageActions="@PageActions" Loading="!_initialized">
    @if (string.IsNullOrEmpty(ConnectionId))
    {
        <MudAlert>Something went wrong! Please go to the <MudLink Href="@AppRoutes.Connections">@nameof(AppRoutes.Connections)</MudLink> page and select a connection.</MudAlert>
    }
    else
    {
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Spacing="3">
            <MudPaper>
                <div @ref="_display" class="display-wrapper relative"></div>
            </MudPaper>
        </MudStack>
    }
</PageView>